<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870330646094-lej581fn7diedif8r42p6h4e05hvobg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870330646094-lej581fn7diedif8r42p6h4e05hvobg7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870330646094-2o1cfseof40kfogc7uirpjal5vvv7smi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfzO2UjR9oxOywSeZ5edpLjv_67Vp17n4</string>
	<key>GCM_SENDER_ID</key>
	<string>870330646094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.hotelsapp</string>
	<key>PROJECT_ID</key>
	<string>hotel-reservation-98833</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-reservation-98833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870330646094:ios:923c73baaef0fbe2894d1f</string>
</dict>
</plist>